main{
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    /* min-height: calc(100vh - 418px - 51px); */
}
article{
    background-color: #ab947e;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    /*background-color: #c8d5b9; first optionnnnnnnnnnnnnnnnnnnnn*/
    /*background-color: #ab947e; second optionnnnnnnnnnnnnnnnnnnnn*/
    /*background-color: #88ccf1; third optionnnnnnnnnnnnnnnnnnnnn*/
}

article:last-child{
    margin-bottom: 0;
}
article h3{
    margin: 10px 0 25px 0;
}
article p{
    margin-top: 16px;
    line-height: 24px;
}
