a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    display: flex;
    background-color: #6f5e53;
    /*background-color: #8fc0a9; first optionnnnnnnnnnnnnnnnnnnnn*/
    /*background-color: #6f5e53; second optionnnnnnnnnnnnnnnnnnnnn*/
    /*background-color: #3587a4; third optionnnnnnnnnnnnnnnnnnnnn*/
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    border-bottom-left-radius: 150px;
}
.CompanyName{
    color: #eee;
    font-weight: 600;
}
.nav__list{
    display: flex;
    align-items: center;
}
.nav__item{
    margin: 0 8px;
}
.nav__link{
    padding: 10px;
    color: #eeee;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
}
.nav__link:hover{
    background-color: rgba(245, 127, 172, 0.93);
}
.header__toggle,
.header__close{
    display: none;
}
@media screen and (max-width:768px) {
    header{
        height: 70px;
        justify-content: space-between;
        padding: 0 28px;
    }
    .header__toggle{
        display: inline;
        color: #eeee;
        font-size: 30px;
    }
    .header__close{
        position: absolute;
        right: 30px;
        display: block;
        font-size: 30px;
        border-radius: 50%;
    }
    .header__close:hover{
        background-color: rgba(245, 127, 172, 0.93);
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #222831;
        color: #eeee;
        width: 68%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }
    .nav__list{
        display: flex;
        flex-direction: column;
    }
    .nav__item{
        margin: 2rem 0;
    }
    .show{
        right: 0;
    }
}
